body{
    height: 100%;
    width:99%;
    /* position: fixed; */
    padding: 0;
    
}
.background {
    background-color:rgb(15, 211, 241);
    border: 2px solid;
    border-width: 2px;
    height: 94vh;
    max-height: 99vh;
    width:99%;
}
.position{
    text-align: center;
    border: 2px solid black;
    color: rgb(231, 228, 236);
    background-color:black;
     font-family: 'Courier New', monospace;
    /* padding:10%; */
    top: 40%;
    left:40%;
    position: absolute;

}
.headposition{
    text-align: center;
    color: black;
     font-family: 'Courier New', monospace;
     margin-top: 10%;
}